## TASK 1

### Disclaimer:Dont use ChatGPT
### *1-extracts names,scores_values using indexing
### *2-direct extraction
### follow *1 and *2 and do required task-Total 5 questions

In [201]:
# Tuple containing tuples of student names and their favorite subjects
students = (('Alice', 'Math'), ('Bob', 'Science'), ('Charlie', 'History'))

# Dictionary with student names and their scores in different subjects
scores = {'Alice': {'Math': 90, 'Science': 85, 'History': 78},
          'Bob': {'Math': 82, 'Science': 88, 'History': 91},
         'Charlie': {'Math': 79, 'Science': 85, 'History': 92}}
#o/p:{'Alice':90,'Bob':88}

In [240]:
scores['Alice']['Math']
out={}
out[students[0][0]]=scores[students[0][0]][students[0][1]]
out[students[1][0]]=scores[students[1][0]][students[1][1]]
out

{'Alice': 90, 'Bob': 88}

In [441]:
# Main Task:

# For each student in the students tuple, extract marks of their favorite subject from the scores dictionary and
# add it to a new dictionary with the student’s name as the key and the score as the value.

# Additional Questions:

# 1.From nested tuple students create a new tuple where each element is a string combining the first letter of the student’s name
# with the first letter of their favorite subject (in lowercase), separated by a hyphen (-).ie)('A-m','B-s','C-h') (*1)
# #dont try split and join;I think you all had good amt of pratice in it; this time for easier approach: **try formatting** search formatting in strings notebook,understand and apply

# 2.create new dictionay with key as Reverse of names in the students tuple and convert them to title case.
# extract all 3 subject marks as lists for individual student and add them as corresponding values .(*1) ie){'Ecila': [90, 85, 78],..for bob and charlie}
# **hint:try to use dictionary method for values**

# 3.Create a new dictionary where each key is the student’s name and the value is highest score among 3 subject for corresponding student.
# (*2)

# Main task

In [444]:
a,b,c=students[0][0],students[1][0],students[2][0]
d,e,f=students[0][1],students[1][1],students[2][1]
v={}
x,y,z=scores[a][d],scores[b][e],scores[c][f]
v.update({a:x,b:y,c:z})
v

{'Alice': 90, 'Bob': 88, 'Charlie': 92}

# Add question 1

In [447]:
ntp=()
c1,c2,c3=students[0][0][0],students[1][0][0],students[2][0][0]
d1,d2,d3=students[0][1][0].lower(),students[1][1][0].lower(),students[2][1][0].lower()
c1,c2,c3,d1,d2,d3

('A', 'B', 'C', 'm', 's', 'h')

In [449]:
e1,e2,e3='{}-{}'.format(c1,d1),'{}-{}'.format(c2,d2),'{}-{}'.format(c3,d3)
v=(e1,e2,e3)
ntp+=v
ntp

('A-m', 'B-s', 'C-h')

# Add question 2

In [452]:
a1,a2,a3=students[0][0],students[1][0],students[2][0]
a1,a2,a3

('Alice', 'Bob', 'Charlie')

In [454]:
r={}
m1,m2,m3=students[0][0][-1::-1].title(),students[1][0][-1::-1].title(),students[2][0][-1::-1].title()
m1,m2,m3

('Ecila', 'Bob', 'Eilrahc')

In [456]:
g1,g2,g3=list(scores[a1].values()),list(scores[a2].values()),list(scores[a3].values())
g1,g2,g3

([90, 85, 78], [82, 88, 91], [79, 85, 92])

In [458]:
r.update({m1:g1,m2:g2,m3:g3})
r

{'Ecila': [90, 85, 78], 'Bob': [82, 88, 91], 'Eilrahc': [79, 85, 92]}

# Add question 3

In [469]:
h={}
a1,a2,a3=students[0][0],students[1][0],students[2][0]
a1,a2,a3

('Alice', 'Bob', 'Charlie')

In [471]:
b1,b2,b3=max(scores[a1].values()),max(scores[a2].values()),max(scores[a3].values())
b1,b2,b3

(90, 91, 92)

In [467]:
h.update({a1:b1,a2:b2,a3:b3})
h

{'Alice': 90, 'Bob': 91, 'Charlie': 92}

## Task-2

In [512]:
# Tuple containing employee names and their department
employees = (('John', 'HR'), ('Emily', 'Finance'), ('Michael', 'IT'), ('Sophia', 'Marketing'))

# Dictionary with employee names and their monthly salaries
salaries = {
    'John': [3000, 3200, 3100],
    'Emily': [3500, 3600, 3700],
    'Michael': [4000, 4200, 4100],
    'Sophia': [2800, 2900, 3000]}
# Task:(*2) for 2 tasks

# 4.Create a new dictionary where each key is the employee’s name and value is tuple containing employees department and  average of their monthly salaries.
# ie)in this format {'John': ('HR', 3100.0),...}

# 5.Calculate the total salary for each employee over the given 3 months and update the salaries dictionary with this sum as value
# changes should be in original dictionary salaries

# Add question 4

In [515]:
t={}
q1,q2,q3,q4=employees[0][0],employees[1][0],employees[2][0],employees[3][0]
q1,q2,q3,q4

('John', 'Emily', 'Michael', 'Sophia')

In [517]:
w1,w2,w3,w4=employees[0][1],employees[1][1],employees[2][1],employees[3][1]
w1,w2,w3,w4

('HR', 'Finance', 'IT', 'Marketing')

In [519]:
e1,e2,e3,e4=sum(salaries[q1])/3,sum(salaries[q2])/3,sum(salaries[q3])/3,sum(salaries[q4])/3
e1,e2,e3,e4

(3100.0, 3600.0, 4100.0, 2900.0)

In [521]:
t.update({q1:(w1,e1),q2:(w2,e2),q3:(w3,e3),q4:(w4,e4)})
t

{'John': ('HR', 3100.0),
 'Emily': ('Finance', 3600.0),
 'Michael': ('IT', 4100.0),
 'Sophia': ('Marketing', 2900.0)}

# Add qution 5

In [524]:
z1,z2,z3,z4=employees[0][0],employees[1][0],employees[2][0],employees[3][0]
z1,z2,z3,z4

('John', 'Emily', 'Michael', 'Sophia')

In [526]:
salaries[z1],salaries[z2],salaries[z3],salaries[z4]=sum(salaries[z1]),sum(salaries[z2]),sum(salaries[z3]),sum(salaries[z4])
salaries

{'John': 9300, 'Emily': 10800, 'Michael': 12300, 'Sophia': 8700}